@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string compName = Configuration.GetSection("CompanyInfo:CompanyName").Value;
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  box-shadow ">
        <div class="container-fluid justify-content-between">
            <a class="navbar-brand" asp-area="" asp-controller="Pis" asp-action="Index">@compName</a>

            <div>
                <div class="text-light d-flex justify-content-between align-items-center gap-2">
                    <i class="fa-regular fa-user text-light"></i>
                    @*<span class="text-uppercase">@User.Identity!.Name!.Split(' ')[0]</span>*@
                    <i class="fa-solid fa-angle-down"></i>
                </div>

               @* <ul class="nav-dd-dtls">
                    <li class="nav-dd-item">
                        <a class="nav-dd-link" asp-area="" asp-controller="Login" asp-action="Logout"> Logout </a>
                    </li>

                </ul>*@
            </div>
            
            
        </div>

       
    </nav>
</header>