@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string compName = Configuration.GetSection("CompanyInfo:CompanyName").Value;
}
<link rel="stylesheet" href="~/css/pis/_topNavbar.css" asp-append-version="true" />

<header class="header pis-header" id="header">
    <nav class="navbar">

        <button class="btn  menu-toggle-icon " id="menu-toggle-icon">
            <i class="fa-solid fa-bars open-menu-icon"></i>
            <i class="fa-solid fa-xmark close-menu-icon"></i>
        </button>

        <a  class="co-info">
            <h2 class="co-name ">GSIA</h2>
        </a>

       <div class="avatar-wrapper">
           <div class="avatar" id="toggle-avatar-icon">
                <i class="fa-regular fa-user"></i>
           </div>
           <ul class="avatar-list">
               <li class="list-item">
                    <a class="list-link" asp-action="Logout" asp-controller="Login">
                        <span class="list-item-icon">  <i class="fa-regular fa-user"></i></span>
                        <span>Judith Reyes</span>
                     </a>
                </li>

                <hr class="divider">

                <li class="list-item">
                    <a class="list-link" asp-action="Logout" asp-controller="Login">
                        <span class="list-item-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                        <span>Logout</span>
                    </a>
                </li>
           </ul>
       </div>

      
       
    </nav>
</header>