.nav-pills > li {
    margin-left: 1px;
}

.add-user-link {
}

.file-category .file-type {
    padding-left: 28px;
}

.upload-container {
    background-color: #ffffff;
    width: 100%;
    padding: 3.12em 1.87em;
    border: .2em dashed var(--color-black-50);
    border-radius: 8px;
}

.upload-container .upload-hdr {
    color: var(--color-black-100);
}

.upload-container.active {
    border: 0.2em dashed var(--color-primary);
    background: var(--color-primary-light);
}

.upload-container.has-content  {
    padding:0;
}
.upload-container.has-content .image-display-container {
    padding:1.87em;
}

.upload-container.has-content .upload-hdr {
    border-bottom: 1px solid #ced4da;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-all-images{
    display:none;
}

.upload-container.has-content .remove-all-images {
    display: inline-block;
}

input[type="file"] {
    display: none;
}

.upload-container label {
    color: var(--color-primary);
    font-size: 1.1em;
    cursor: pointer;
    width:auto;
    min-width:0;
}
.image-display-container {
    max-height: 400px;
    overflow-y: auto;
}

#image-display {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1.25em;
    flex-wrap: wrap;
}

#image-display figure {
    position: relative;
    border: 2px solid #198754;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#image-display figure:last-of-type {
     margin: 0; 
}

#image-display img {
    width: 100%;
    margin-bottom: 2em;
}

#image-display figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #5a5861;
    max-width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #e9ecef;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
}

.image-delete-btn {
    border: none;
    background: #e9ecef;
    position: absolute;
    top: -8px;
    right: -7px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

    .image-delete-btn:hover {
        background-color: #f9fafb;
    }

#error {
    text-align: center;
    color: #ff3030;
}
