@model GSIA.Models.Pis.EmpmasUiModel

@{
    Layout = "~/Views/Shared/Pis/_PisLayout.cshtml";
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pis/_mainContent.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pis/components/_uploaderContainer.css" asp-append-version="true" />

    ViewData["Title"] = "_111PersonnelInformation";
}
<div class="main-content-wrapper">
    <div class="mc-padding">
        <h2 class="page-title ">Uploadables</h2>
    </div>
    <hr class="divider" />

    <div class="row">
        <div class=" col-12">

            <div class="mc-padding">
                @* --- Employee's Image' --- *@
                <div class="img-wrapper"><i class="fa-solid fa-user-tie"></i></div>

                @* --- Employee Number ---*@
                <div class="form-group">
                    <label asp-for="Empnumber" class="control-label"></label>
                    <div class="col-md-8 col-lg-1">
                        <input asp-for="Empnumber" class="form-control"  />
                        <span asp-validation-for="Empnumber" class="text-danger err-input-msg"></span>
                    </div>
                </div>
                @* --- Last Name ---*@
                <div class="form-group">
                    <label asp-for="Emplastnm" class="control-label"></label>
                    <div class="col-md-8 col-lg-3">
                        <input asp-for="Emplastnm" class="form-control"  />
                        <span asp-validation-for="Emplastnm" class="text-danger err-input-msg"></span>
                    </div>
                </div>
                @* --- First Name ---*@
                <div class="form-group">
                    <label asp-for="Empfirstnm" class="control-label"></label>
                    <div class="col-md-8 col-lg-3">
                        <input asp-for="Empfirstnm" class="form-control"  />
                        <span asp-validation-for="Empfirstnm" class="text-danger err-input-msg"></span>
                    </div>
                </div>
                @* --- Middle Name ---*@
                <div class="form-group">
                    <label asp-for="Empmidnm" class="control-label"></label>
                    <div class="col-md-8 col-lg-3">
                        <input asp-for="Empmidnm" class="form-control"  />
                        <span asp-validation-for="Empmidnm" class="text-danger err-input-msg"></span>
                    </div>
                </div>
            </div>
            
            @*----- UPLOADABLES ------- *@
            <div>
                <!-- Tabs -->
                <ul class="nav nav-pills nav-justified b-tab-container d-flex gap-1" id="pills-tab" role="tablist">
                    @*-- NBI --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link  fw-semibold  active b-tab "
                                id="pills-nbi-tab"                             
                                type="button"
                                role="tab"                        
                                aria-selected="true">
                            NBI
                        </button>
                    </li>
                    @*-- Police --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold b-tab  text-muted"
                                id="pills-police-tab"                           
                                type="button"
                                role="tab"             
                                aria-selected="false">
                            Police
                        </button>
                    </li>
                    @*-- PNP --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold b-tab  text-muted"
                                id="pills-pnp-tab"                           
                                type="button"
                                role="tab"
                                aria-selected="false">
                            PNP
                        </button>
                    </li>
                    @*-- Barangay --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold b-tab   text-muted"
                                id="pills-brgy-tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            Barangay
                        </button>
                    </li>
                    @*-- Neuro --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold b-tab  -muted"
                                id="pills-neuro-tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            Neuro
                        </button>
                    </li>
                    @*-- Drug --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold b-tab text-muted"
                                id="pills-drug-tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            Drug
                        </button>
                    </li>
                    @*-- Court --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold b-tab   text-muted"
                                id="pills-court-tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            Court
                        </button>
                    </li>
                    @*-- Medical --*@
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold b-tab  text-muted"
                                id="pills-med-tab"
                                type="button"
                                role="tab"
                                aria-selected="false">
                            Medical
                        </button>
                    </li>
                </ul>
                    
                <!-- UPLOADABLES CAPTION -->
                <div class="section-category-wrapper mt-0"><h5 class="section-category"> Uploadables</h5></div>
                
                <!-- Tabs Content -->
                <div class="mc-padding tab-content text-light-secondary" id="pills-tabContent">
                    <div 
                        class="tab-pane fade active show" 
                        id="pills-nbi" 
                        role="tabpanel" 
                        aria-labelledby="pills-nbi-tab" 
                        tabindex="0">
                            @* ---- EXPIRE ----*@
                            <div class="form-group form-date-expire">
                                <label asp-for="Exp_nbi" class="control-label"></label>
                                <div class="col-md-8 col-lg-1">
                                    <input asp-for="Exp_nbi" class="form-control" />
                                    <span  class="text-danger err-input-msg"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="upload-file" class="control-label">Upload File</label>
                                <div class="col-md-8 col-lg-4">

                                    @* ---- UPLOAD IMAGE----*@
                                    <div class="upload-container nbi">
                                        <input name="file" type="file" multiple id="upload-button" multiple class="nbi"/>
                                        <div class="upload-hdr text-center body-text-lg "> <span>Drag and Drop files here or <label for="upload-button"> Browse </label></span> <span class="btn remove-all-images">Cancel</span></div>
                                        <div class="image-display-container nbi">
                                            <div id="image-display"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* ---- REMARKS ----*@
                            <div class="form-group">
                                <label asp-for="Remarks" class="control-label"></label>
                                <div class="col-md-8 col-lg-3">
                                    <textarea asp-for="Remarks" class="form-control" ></textarea>
                                    <span class="text-danger err-input-msg"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label"></label>
                                <button class="btn b-btn-primary col-md-8 col-lg-3"> Upload </button>
                            </div>
                                      
                        </div>

                       
                </div>
            </div>
           
        </div>
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/pis/_01uploadFiles.js" asp-append-version="true"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
