@model IEnumerable<GsiaLibrary.Models.UI._001Main.MenuOutputModel>;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PIS</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body> 
    @* Header *@
    <header id="pisTop">
        <partial name="Pis/PartialView/p_top" />
    </header>

    <div id="pisBody" class="pisBody">
        @* Left-menu *@
        <aside id="pisLeft" class="pisLeft lg-active">
            @await Component.InvokeAsync("LeftMenu")
        </aside>

        @* Main Content *@
        <main id="pisRight" class="pisRight pisLeftIsActive" role="main">
            @RenderBody()
        </main>
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/pis/_00main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
