#pisTop {
    border-bottom: 1px solid lightgray;
}


#pisTop .navbar {
    background-color: rgb(32 72 24 / 90%);
    height: 60px;
}
#pisTop. navbar-brand-name {
    color: azure;
    font-size: x-large;
}

#pisTop .nav-link {
    text-decoration: none;
    color: azure;
}



#pisBody {
    display: flex;
    height: calc(100vh - 57px);
}

#pisLeft {
    border-right: 1px solid lightgray;
    width: 260px;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    overflow: hidden;
}

/* ------ LEFT MENU ------*/


#pisRight {
    position: relative;
    width: calc(100vw - 280px);
    padding: 32px;
    background-color: #F7F8FA;
    overflow-y: auto;
}

:root {
    --primary-font: 'Inter', 'Roboto';
    --color-primary-900: #0C8C67;
    --color-primary-800: #0C8C67;
    --color-primary-100: #F0F7F5;
    --color-text-dark: #1E262C;
    --color-text-grey-900: #484B4D;
    --color-text-grey-800: #6F7274;
    --color-text-grey-600: #C1C5C7;
    --color-text-grey-400: #D1D5D8;
    --color-text-grey-25: #FDFEFE;
    --color-border-900: #D1D5D8;
    --color-border-800: #E8EAEB;
    --color-border-600: #F3F4F5;
    --bg-color-white: #FFFFFF;
    --bg-navbar: rgb(32 72 24 / 90%);
    --text-light-primary: #212427;
    --text-dark-primary: #ffffff;
    --text-green-primary: green;
    --text-dark-hover: #0080000d /*#90ee9033*/;
}

h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* ------- TEXT COLOR ------*/
.text-color-primary-900 {
    color: var(--color-primary-900);
}

.text-color-primary-800 {
    color: var(--color-primary-800);
}

.text-color-primary-100 {
    color: var(--color-primary-100);
}

.text-color-dark {
    color: var(--color-text-dark);
}

.text-color-grey-400 {
    color: var(--color-text-grey-400);
}

.text-color-grey-25 {
    color: var(--color-text-grey-25);
}

.text-color-white {
    color: white;
}

/* ------ BACKGROUND COLOR ------*/
.bg-primary-900 {
    background-color: var(--color-primary-900);
}

.bg-primary-800 {
    background-color: var(--color-primary-800);
}

.bg-primary-100 {
    background-color: var(--color-primary-100);
}

.bg-grey-400 {
    background-color: var(--color-text-grey-400);
}

.bg-grey-25 {
    background-color: var(--color-text-grey-25);
}

.bg-white {
    background-color: white;
}

/* ------ TYPOGRAPHY -----*/
.b-page-title, .b-page-subtitle, .b-section-title,
.b-body-lg-text, .b-body-md-text, .b-body-sm-text {
    font-family: var(--bs-font-sans-serif);
    font-style: normal;
}

.b-page-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-text-dark);
}

.b-page-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-grey-800);
}

.b-section-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-dark);
}

.b-body-lg-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-grey-900);
}

.b-body-md-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-grey-800);
}

.b-body-sm-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-text-grey-900);
}

/* ------ FORM COMPONENTS ------*/
.b-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-dark);
    width: 180px;
    text-align: left;
}

.b-select {
    width: 269px;
    height: 40px;
    padding: 8px 12px;
    background: #FFFFFF;
    border: 1px solid #D1D5D8;
    border-radius: 4px;
}

/* ------- BUTTON --------- */
.b-btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    margin-left: 4px;
    height: 40px;
    background: var(--color-primary-900);
    color: white;
    border: none;
    border-radius: 4px;
}

/* ------- RADIO BUTTON ------- */

.b-btn-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    height: 40px;
    background: var(--bg-color-white);
    color: var(--color-primary-900);
    border-radius: 4px;
    border: none;
    border: 1px solid var(--color-primary-900);
    margin-left: 4px;
}

.b-page-header {
    margin-bottom: 32px;
}

#pisTop {
    background-color: var(--bg-navbar);
    border-bottom: 1px solid lightgray;
    min-height: 56px
}

#pisBody {
    display: flex;
    height: calc(100vh - 57px);
}

#pisLeft {
    border-right: 1px solid lightgray;
    width: 280px;
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    overflow: hidden;
}

#pisRight {
    position: relative;
    width: calc(100vw - 280px);
    padding: 32px;
    background-color: #F7F8FA;
    overflow-y: auto;
}

#pisFooter {
}

/* ------ NAVBAR -------*/
#pisTop .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 20px;
}

#pisTop .navbar-brand {
    text-decoration: none;
    color: var(--text-dark-primary);
}

#pisTop .nav-dd-user-img {
    position: relative;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#pisTop .nav-dd-dtls {
    position: absolute;
    right: 10px;
    top: 58px;
    z-index: 5;
    display: none;
    list-style: none;
    padding-left: 0;
    padding: 0.5rem 0;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    min-width: 200px;
}

#pisTop .nav-dd-item:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

#pisTop .nav-dd-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--text-light-primary);
    padding: 0.25rem 1rem;
}

    #pisTop .nav-dd-link:hover {
        background-color: var(--text-dark-hover);
    }

/* ------ LEFT MENU ------*/
.lm-collapse {
    width: 65px !important;
}

.hide {
    display: none;
}

.lm-hdr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 22px;
    border-bottom: 1px solid lightgrey;
}

.lm-hdr-icon {
    cursor: pointer;
    padding-left: 5px;
}

.lm-body {
    white-space: nowrap
}

.lm-category {
    margin: 0;
    margin-top: 10px;
    padding: 0 20px;
    color: lightgray;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--text-green-primary);
}

.lmd-content {
    position: relative;
}

.lmd-hdr {
    height: 48px;
    line-height: 24px;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: var(--text-light-primary);
}

    .lmd-hdr:hover {
        color: black;
        background-color: var(--text-dark-hover);
    }

.lmd-hdr-icon2 {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    z-index: -1;
}

.lmd-icon1 {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.lmd-hdr-text, .lmd-dtl-text {
    margin-left: 8px;
}

.lmd-subcontent-wrapper {
    background-color: var(--text-dark-hover);
}

.lmd-subcontent {
    position: relative;
}

    .lmd-subcontent a {
        display: block;
        text-decoration: none;
        color: var(--text-light-primary);
        width: 100%;
        line-height: 24px;
        padding: 6px 22px 6px 35px;
        cursor: pointer;
    }

.lmd-number-badge {
    position: absolute;
    right: 10px;
    top: 7px;
    display: inline-block;
    background-color: #00800026;
    line-height: 22px;
    width: 30px;
    border-radius: 48px;
    text-align: center;
}

.lm-indent {
    padding-left: 10px;
}

/* Class to apply when menu and submenus are active */
.lmd-isActive-Menu {
    background: #00800026 !important;
}

.lmd-isActive-text {
    font-weight: bold;
}

.lmd-isActive-icon {
    color: var(--text-green-primary);
}

.lmd-subcontent-isActive {
    background-color: transparent !important;
    font-weight: bold !important;
}

.lmd-hdr[menu-title]:hover:after {
    content: attr(menu-title);
    position: fixed;
    left: 50px;
    padding: 5px 10px;
    display: block;
    z-index: 100;
    background-color: #000000;
    color: #ffffff;
    max-width: 200px;
    text-decoration: none;
    text-align: center;
    z-index: 100;
}



@media only screen and (max-width: 768px) {
    .b-select {
        width: 100%;
    }
}



