@using GSIA.Models.Login;
@model RegisterViewModel

@{
    var errorMessage = ViewData["errorMessage"] as string;
    var hasClaims = ViewData["hasClaims"] as string;
}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-content-hdr-wrapper place-items-center-col">
            <img class="auth-content-hdr-logo" src="/images/gsia-logo.png" />
            <h3 class="auth-content-hdr-text page-title">Welcome to GSIA</h3>
            
          @if (@hasClaims == "true")
            {
                <p class="body-text-lg text-danger mt-2">The email address you used to login does not exist yet. Please provide the following details to register an account with that email address. </p>
            } else
            {
                <p class="body-text-lg mt-2">Please fill out all the fields to register an account with your employee number.</p>
            }
        </div>


        @*---- ALERT MESSAGE FOR SERVER ERROR ----*@
        @if (@errorMessage != null)
        {
            <div class="b-alert-msg  alert-danger " role="alert">
                <span class="alert">@errorMessage</span>
            </div>
        }

        <form action="/register" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpNumber" class="control-label"></label>
                <input asp-for="EmpNumber" class="form-control" />
                <span asp-validation-for="EmpNumber" class="err-input-msg text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="DepCode" class="control-label"></label>
                    <input asp-for="DepCode" class="form-control" />
                    <span asp-validation-for="DepCode" class="err-input-msg text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="MovNumber" class="control-label"></label>
                    <input asp-for="MovNumber" class="form-control" />
                    <span asp-validation-for="MovNumber" class="err-input-msg text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="SecLicense" class="control-label"></label>
                    <input asp-for="SecLicense" class="form-control" />
                    <span asp-validation-for="SecLicense" class="err-input-msg text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="DateHired" class="control-label"></label>
                    <input asp-for="DateHired" class="form-control" />
                    <span asp-validation-for="DateHired" class="err-input-msg text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="err-input-msg text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="err-input-msg text-danger"></span>
            </div>
            <div class="form-group mb-0">
                <input type="submit" value="Register" class="btn b-btn-primary w-100 mt-2" />
            </div>
        </form>

        <div class="auth-action-link body-text-md ">Already have an account? <a asp-action="Index" asp-controller="Home" class="link-primary fw-bold">Login</a></div>

        <div class="auth-content-footer body-text-md ">© 2023 All Rights Reserved.</div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
