@using GSIA.Models.Login;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model VerifyAccountViewModel


@{
    var empNo           = ViewData["empNo"] as string;
    var errCredential   = ViewData["errCredential"] as string;

}

<section id="login-container">
    <div class="container-fluid">
        <div class="row login-bg d-flex flex-row-reverse">
            <div class="col-12 col-md-5 col-lg-3 login-form ">
                <div class="inner-container bg-white p-3 rounded-3">
                    @* Header *@
                    <div class="login-header text-center mt-3 mb-4">
                        <p class="fw-bold text-muted welcome-msg">Account Verification</p>
                        <br />
                        <small class="text-danger"><p>Account not yet exists, please provide the following details to Register.</p></small>
                    </div>

                    <br />
                    @if (errCredential != null)
                    {
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <div><small>@errCredential</small></div>
                        </div>
                    }
                    <form action="/login/VerifyAccount" method="Post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                        @* --- EMPLOYEE NUMBER --- *@
                        <div class="form-group mb-2">
                            <label asp-for="vEmpNumber" class=" control-label"></label>
                            <input asp-for="vEmpNumber" class="form-control" value="@empNo" disabled />
                            <span asp-validation-for="vEmpNumber" class="text-danger"></span>
                        </div>

                        <div class="row">
                            @* --- DEPLOYMENT CODE --- *@
                            <div class="form-group col-lg-6 mb-2">
                                <label asp-for="DeploymentCode" class="control-label"></label>
                                <input asp-for="DeploymentCode" class="form-control" />
                                <span asp-validation-for="DeploymentCode" class="text-danger"></span>
                            </div>
                            @* --- MOVEMENT NUMBER --- *@
                            <div class="form-group col-lg-6 mb-2">
                                <label asp-for="MovNumber" class="control-label"></label>
                                <input asp-for="MovNumber" type="text" class="form-control" />
                                <span asp-validation-for="MovNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            @* --- SEC LICENSE --- *@
                            <div class="form-group col-lg-6 mb-2">
                                <label asp-for="SecLicense" class="control-label"></label>
                                <input asp-for="SecLicense" class="form-control" />
                                <span asp-validation-for="SecLicense" class="text-danger"></span>
                            </div>

                            @* --- DATE HIRED --- *@
                            <div class="form-group col-lg-6 mb-2">
                                <label asp-for="DateHired" class="control-label"></label>
                                <input asp-for="DateHired" type="date" class="form-control" />
                                <span asp-validation-for="DateHired" class="text-danger"></span>
                            </div>
                        </div>

                        @* --- EMAIL --- *@
                        <div class="form-group c-label mb-2">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control c-input" />
                            <span class="c-input-text">&#64;gmail.com</span>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                           

                        @* --- PASSWORD --- *@
                        <div class="form-group mb-2">
                            <label asp-for="vPassword" class="control-label"></label>
                            <input asp-for="vPassword" class="form-control" type="password" />
                            <span asp-validation-for="vPassword" class="text-danger"></span>
                        </div>

                        @* --- CONFIRM PASSWORD --- *@
                        <div class="form-group mb-2">
                            <label asp-for="vConfirmPassword" class="control-label"></label>
                            <input asp-for="vConfirmPassword" class="form-control" type="password" />
                            <span asp-validation-for="vConfirmPassword" class="text-danger"></span>
                        </div>

                        @* --- BUTTON --- *@
                        <input type="submit" value="Verify and Continue" class=" mt-4 btn btn-success w-100" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
