@model IEnumerable<GsiaLibrary.Models.UI._001Main.MenuOutputModel>;

<link rel="stylesheet" href="~/css/pis/_leftmenu.css" asp-append-version="true" />

@* -------- USER NAME + MENU TOGGLE BUTTON -------- *@
<div class="lm-hdr-wrapper">
    <div class="lm-hdr lm-padding">
        <span class="lm-hdr-text">@User?.Identity?.Name</span>
        <button class="lm-hdr-icon lm-toggle-menu" id="lm-toggle-menu">
            <i class="fa-solid fa-angles-left"></i>
            <i class="fa-solid fa-angles-right"></i>
        </button>
        
    </div>

    <hr class="divider" />

    @* -------- COMPANY NAME -------- *@
    <div class="lm-hdr lm-padding co-name">
        <span class="lm-hdr-text">Company Name</span>
    </div>

    <hr class="divider" />
</div>


@if (Model != null)
{
    @* -------------------------- Loop Menus ---------------------------- *@
    var menusHdr = Model.Where(m => m?.Type.Trim() == "Hdr");

    @* -------- MENU CATEGORY -------- *@
    @foreach (var mHdr in menusHdr)
    {
        <div class="lm-body">
            <p class="lm-category lm-padding">@mHdr?.DispText</p>


            @{
                var idHdr = mHdr?.Id;
                var menusSHdr = Model.Where(m => m?.IdParent == idHdr);

            }

            <div class="lm-dtls">
                @* -------- MENU MAIN ITEM -------- *@
                @foreach (var s in menusSHdr)
                {
                    <div class="lmd-content ">

                        @if (!string.IsNullOrEmpty(@s?.Action))
                        {
                            <a class="lmd-hdr lm-item" asp-area="" asp-controller="@s?.Controller" asp-action="@s?.Action">
                                @if (s?.Icon1.Length > 0)
                                {
                                    <span class="lmd-hdr-icon1"><i class="@s?.Icon1"></i></span>
                                }
                                <span class="lmd-hdr-text">@s?.DispText</span>
                            </a>
                        }
                        else
                        {
                            <div class="lmd-hdr lm-item">
                                @if (s?.Icon1.Length > 0)
                                {
                                    <span class="lmd-hdr-icon1"><i class="@s?.Icon1"></i></span>
                                }
                                <span class="lmd-hdr-text">@s?.DispText</span>
                            </div>
                        }
                        @if (s?.IsWithChild == 1)
                        {
                            <button class="lm-toggle-subcontent lmd-hdr-icon2">
                                <i class="fa-solid fa-angle-up"></i>
                                <i class="fa-solid fa-angle-down"></i>
                            </button>

                            var idS = s?.Id;
                            var menusS = Model.Where(m => m?.IdParent == idS);
                            @* -------- MENU SUBITEM -------- *@
                            <div class="lmd-subcontent-wrapper ">
                                @foreach (var d in menusS)
                                {
                                    <div class="lmd-subcontent">
                                        <a class="lmd-subcontent-item lm-item" asp-area="" asp-controller="@d?.Controller" asp-action="@d?.Action">
                                            <span class="lmd-dtl-icon1 "><i class="@d?.Icon1"></i></span>
                                            <span class="lmd-dtl-text"> @d?.DispText </span>
                                        </a>

                                    </div>

                                }
                            </div>
                        }

                    </div>
                }

            </div>
        </div>
    }
}





