

body {
    background-color: rgb(57, 108, 73);
    background-image: url('Images/Global/landing_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Navbar */
#main-navbar {
    background-color: rgb(32 72 24 / 90%);
    height: 60px;
}

    #main-navbar .navbar-brand-name {
        color: azure;
        font-size: x-large;
    }

    #main-navbar .nav-link {
        text-decoration: none;
        color: azure;
    }


/* Login Header*/
#login-container .login-header p {
    margin: 0;
}

#login-container .login-header .form-title {
    font-size: var(--text-lg);
    color: var(--color-text-dark-100);
}

#login-container .login-header .comp-name {
    font-size: var(--text-lg);
    color: var(--color-brand);
}

/* Login Form */
#login-container .login-bg {
    background-image: url('/images/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#login-container .login-form {
    background-color: rgba(255,255,255,.7);
    padding: 15px;
    height: calc(100vh - 60px);
}

#login-container .inner-container {
    height: 100%;
}

.form-group {
    margin-bottom: var(--space-lg);
}

.horizontal-divider {
    margin: var(--space-md) 0;
}

label {
    font-size: var(--text-sm);
    margin-bottom: var(--space-sm);
}

input {
    font-size: var(--text-md);
}

.err-msg {
    font-size: var(--text-xs);
}
/*Button*/
.signup-link {
    font-size: var(--text-sm);
}

.signup-link a{
    font-size: var(--text-md);
}
