html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}



html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}


:root {
    /* --font-family:; */
    --color-brand: green;
    /* --color-brand-light:; */
    --color-text-dark-100: #333333;
    --color-text-dark-50: #111111;
    /* --color-text-gray:;
  --color-text-light; */
    /*----------------------------*/
    --space-lg: 1rem;
    --space-md: .5rem;
    --space-sm: .3rem;
    --space-xs: .13rem;
    /*-------------------------------*/
    --text-lg: 2rem;
    --text-md: 1rem;
    --text-sm: 0.9rem;
    --text-xs: 0.8rem;
}
